body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    transition: background 1s;
}

.clock-container {
    text-align: center;
}

.time {
    font-size: 5rem;
    font-weight: bold;
}

.message {
    font-size: 2rem;
    margin-top: 20px;
}
